 <div class="comment_lists">
 	<div class="card">
 		<div class="card-block">
 			<div class="row">
 				<div class="col-md-2">
 					<%= gravatar comment.user %>
 				</div>
 				<div class="col-md-10">
 					<div>
 						<%= comment.content %>
 					</div>
 					<div class="comment_tags">
 						Posted by <%= comment.user.name %> <%= distance_of_time_in_words(comment.created_at, Time.now)  %> ago
 					</div>
 					
 				</div>
 			</div>
 		</div>
 	</div>
 </div>