<div class="masthead clearfix">
	<div class="inner">
		<h3 class="masthead-brand">Siyu An</h3>
		<nav class="nav nav-masthead app-nav">
			<%= navigator_helper('nav-link', 'span') %>
			<%= login_condition_helper('nav-link') %>
		</nav>
	</div>
</div>