<div class="blog-masthead">
	<div class="container">
		<nav class="nav">
			<span class="nav-link" id="name">Siyu An</span>
			<%= navigator_helper('nav-link', 'span') %>
			<%= login_condition_helper('nav-link') %>
		</nav>
	</div>
</div>