<div class="blog-header">
	<div class="container">
		<h1 class="blog-title">My Blog</h1>
		<p class="lead blog-description">Written and archived by Siyu An</p>
		<% if logged_in?(:website_admin) %>
		<span><%= link_to 'Write a New Blog', new_blog_path  %> / </span>
		<% end %>
		<span><%= link_to 'Topics',  topics_path %> / </span>
		<span><%= link_to 'All blogs',  blogs_path %></span>
	</div>
</div>