<div class="about-card">
	<div class="card">
		<h3>About me</h3>
		<hr>
		<div class="row">
			<div class='col-md-4'>
				<%= image_tag "profile.jpg", width: 150, height: 150, alt: "profile", class:'about-picture' %>
				<div class="skill-set">
					<h5>Skill Sets</h5>
					<% @skills.each do |skill| %>
						<div class="skill">
							<h6><%= skill.title %></h6>
							<div class="progress">
								<div 
									class="progress-bar progress-bar-striped bg-success" 
									role="progressbar" 
									aria-valuenow="<%= skill.percentage %>"
									aria-valuemin="0"
									aria-valuemax="100"
									style="width: <%= skill.percentage %>%"
								></div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
			<div class='col-md-8'>
				<p>Hi there! My name is Siyu An, and I am from China. I am currenly a Master's student at UNC-Chapel Hill. </p>
				<p>You may wonder how on earth an APPLIED PHYSICS student decides to lay his hands on code? I knew software development for the first time in an undergrad course, and what I saw was only a bunch of messy chracters. However, after diving into it, I was attracted by its definite power. I realized that it represents the TECHNOLOGY. It can change people's lives simply with some knocks on the keyboard. I love the logic and concept within software and I enjoy the process of engineering.</p>
				<p>
					<button
						class="btn btn-info"
						type="button"
						data-toggle="collapse"
						data-target="#education"
						aria-expanded="false"
						aria-controler="education"
					>
						Education
					</button>
					<button
						class="btn btn-info"
						type="button"
						data-toggle="collapse"
						data-target="#workExperience"
						aria-expanded="false"
						aria-controler="workExperience"
					>
						Work Experience
					</button>
					<button
						class="btn btn-info"
						type="button"
						data-toggle="collapse"
						data-target="#academicProject"
						aria-expanded="false"
						aria-controler="academicProject"
					>
						Project Experiences
					</button>
				</p>

				<p>
					<div class="collapse" id="workExperience">
						<div class="card-block">
							<p><h5>IT Analyst Intern at ICBC Credit Suisse Asset Management</h5></p>    
							<p>• Assisted in application development works for internal websites and services using SQL, MySQL, MyPHPAdmin, PHP, CSS and JavaScripts </p>
							<p>• Participated in the implementation of major infrastructure network upgrades, storage and servers consolidation that involved deployment of integrated SAN Storage with server virtualization on multiple co-located sites</p>
						</div>
					</div>

					<div class="collapse" id="education">
						<div class="card-block">
							<p><h5>University of North Carolina, Chapel Hill</h5></p>
							<p>Master’s Degree of Statistics and Computer Science (Minor) </p>
						</div>
						<div class="card-block">
							<p><h5>Nankai University, China</h5></p>
							<p>Bachelor’s Degree of Applied Physics</p>
						</div>
					</div>
					<div class="collapse" id="academicProject">
						<div class="card-block">
							It is all in my portfolio page!
						</div>
					</div>
				</p>
			</div>
		</div>
	</div>
</div>



