<div class="about-card">
	<div class="card">
		<h1>Look forward to hearing from you!</h1>
		<hr>
		<div class="row">
			<div class="col-md-5 contact-div">
				<h4>Linkedin</h4>
				<p><a href= "http://www.linkedin.com/in/siyu-an-b7158b109">linkedin.com/in/siyu-an-b7158b109</a></p>
				<h4>Phone Number</h4>
				<p><%= number_to_phone 9198087980 %></p>
				<h4>Email</h4>
				<p><a href="mailto:siyu.an.mark@gmail.com?subject=From_Siy's_Website">siyu.an.mark@gmail.com</a></p>
				<h4>Address</h4>
				<p>318 E Cameron Ave #3260, Chapel Hill, NC 27599</p>
			</div>
			<div class="col-md-7 contact-div">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1615.741688159327!2d-79.0516934289866!3d35.91066667406309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89acc2e858ba520f%3A0x7f243e4096c26e7b!2sUNC+Department+of+Statistics+%26+Operations+Research!5e0!3m2!1szh-CN!2sus!4v1507344687240" width="350" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>